<%- include('../Includes/header.ejs') %>
    <title>
        <%=title_page%>
    </title>

    <link rel="stylesheet" type="text/css" href="/style7.css">

    </head>

    <body>
        <%- include('../Includes/navigation.ejs') %>

            <section class="carou-des">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="image/carau6.jpg" class="d-block w-100" height="500px" width="400px" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="image/carau4.jpg" class="d-block w-100" height="500px" width="400px" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="image/img11.jpg" class="d-block w-100" height="500px" width="400px" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
                </div>
            </section>
            <section class="about-story">
                <h1>Take A Look</h1>
                <div class="container">
                    <div class="row story_inner">
                        <div class="col-lg-6">
                            <div class="story_text">
                                <h2>About <br />Our Gadgets</h2>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.
                                </p>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</p>
                                <a href="#events" class="btn btn-large btn-danger">View Description</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="story_img">
                                <img class="img-fluid my_image " src="image/master2.jpg " alt=" " height="200px" width="300px">
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section class="about_story_area ">

                <div class="container ">
                    <div class="row story_inner ">
                        <div class="col-lg-7 ">
                            <div class="story_img2 ">
                                <img class="img-fluid my_image " src="image/img9.jpg " alt=" " height="300px" width="300px">
                            </div>
                        </div>
                        <div class="col-lg-5 ">
                            <div class="story_text1 ">
                                <h2> About<br />Our Gadgets</h2>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>

                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</p>
                                <a href="#events " class="btn btn-large btn-danger ">View Description</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="card_style">
                <div class="container">
                    <h2>Trending <b>Products</b></h2>
                    <div class="row row-cols-1 row-cols-md-3 g-4 ">
                        <div class="col">
                            <div class="card h-100">
                                <img src="image/phone1.jpg" class="card-img-top" height="300px" width="300px" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">PRODUCT DESCRIPTION</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional conntent.</p>
                                    <p class="item-price"><strike>$899.00</strike> <span>$649.00</span></p>
                                    <div class="star-rating">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn btn-warning">Add to Cart</a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="image/HDPHONE2.jpg" class="card-img-top" height="300px" width="300px" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">PRODUCT DESCRIPTION</h5>
                                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                    <p class="item-price"><strike>$400.00</strike> <span>$369.00</span></p>
                                    <div class="star-rating">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn btn-warning">Add to Cart</a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="image/mac.jpg" class="card-img-top" height="300px" width="300px" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">PRODUCT DESCRIPTION</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                    <p class="item-price"><strike>$25.00</strike> <span>$23.99</span></p>
                                    <div class="star-rating">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn btn-warning">Add to Cart</a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="About us" class="about_us About us">
                <div class="aboutus-secktion paddingTB60">
                    <h1><span>ABOUT US</span></h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="strong">Who we are and<br>what we do</h2>
                                <p class="lead">This is the world's leading portal for<br>easy and quick </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet. Nulla convallis egestas
                                    rhoncus.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="image/about.jpg" class="card-img-top" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="myweb">
                <div class="container">
                    <div class="textdeg">
                        <h1>Come and Explore <br/> Some Electronics Gadgets In Our Website</h1>
                    </div>
                    <div class="btn_design">
                        <a href="/shpDetails " class="btn btn-warning " aria-current="page "></i> Explore Now</a>
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

            </section>
            <section>
                <div class="site-newsletter">
                    <div class="container">
                        <div class="text-center">
                            <h3 class="h4 mb-2">Subscribe to our newsletter</h3>
                            <p class="text-muted">Join our monthly newsletter and never miss out on new stories and promotions.</p>

                            <div class="row">
                                <div class="col-xs-12 col-sm-9 col-md-7 col-lg-5 ml-auto mr-auto">
                                    <div class="input-group mb-3 mt-3 subbtn">
                                        <input class="form-control" placeholder="Email address" aria-label="Email address" type="text">
                                        <span class="input-group-btn">
                                          <button class="btn btn-warning" type="button">Subscribe</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <%- include('../Includes/footer.ejs') %>