<nav class="navbar navbar-expand-lg navbar-light  mynav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main_form">SHOP</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="navbar-nav ml-auto navList">
                    <li class="nav-item nav_elemnt">
                        <a class="nav-link <%= path === '/home_form' ? 'active' : '' %>" href="/home_form">Add Product</a>
                    </li>
                    <li class="nav-item nav_elemnt">
                        <a class="nav-link <%= path === '/productDetAdmin' ? 'active' : '' %>" href="/productDetAdmin">Product Details</a>
                    </li>
                    <li class="nav-item nav_elemnt">
                        <a class="nav-link <%= path === '/shpDetails' ? 'active' : '' %> " href="/shpDetails">Shop Details</a>
                    </li>
                    <li class="nav-item nav_elemnt">
                        <a class="nav-link butn btn-warning" href="/log_out"><i class="fa fa-sign-out" aria-hidden="true"></i>LogOut</a>

                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>