body {
    height: 100vh;
    /* background-color: beige; */
    background: url(image/paypage.jpg);
}

.upper_nav {
    background: rgb(51, 50, 50);
    color: #388d31;
}

.fa-phone {
    padding-left: 5px;
}

.contact-info i {
    padding: 5px;
}

.link_nav {
    float: right;
}

.social-links a {
    padding: 5px;
}

.brand-navbar {
    padding-left: 120px;
    /* padding-right: 590px; */
}

.nav_elemnt {
    padding-left: 190px;
}

.mynav {
    background-color: transparent;
    font-size: 20px;
    color: whitesmoke;
    padding-bottom: 10px;
}

.navbar-toggler {
    background-color: rgb(216, 93, 22);
}

.drop-style {
    padding-left: 150px;
}

.about {
    padding-left: 250px;
}

.butn {
    margin-left: 20px;
    margin-top: 10px;
    width: 120px;
    height: 50px;
    background-color: #0b3b5c;
    color: #e6e6e6;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding-bottom: 10px;
    padding-left: 10px
}


/* .btn_des {
    margin-top: 100px;
} */

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        /* width: 20%; */
        display: inline !important;
    }
    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }
    .actions .btn-info {
        float: left;
    }
    .actions .btn-danger {
        float: right;
    }
    table#cart thead {
        display: none;
    }
    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }
    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }
    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }
    table#cart tfoot td {
        display: block;
    }
    table#cart tfoot td .btn {
        display: block;
    }
}

.btn {
    width: 400px;
    height: 40px;
    background-color: #4099bd;
    color: #141313;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-left: 8px;
    padding-bottom: 20px;
}

.footer-style {
    background-color: black;
    color: antiquewhite;
    height: 30vh;
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    text-align: center;
}

.thank-you-pop {
    margin-left: 450px;
    margin-bottom: 50px;
}


/* .success {
    margin-top: 30px;
    margin-left: 500px;
} */