<%- include('../Includes/header.ejs') %>
    <title>
        <%=title_page%>
    </title>

    <link rel="stylesheet" type="text/css" href="/style8.css">

    </head>

    <body>
        <%- include('../Includes/navigation.ejs') %>
            <div class="container">
                <div class="modal-body card-body">

                    <div class="thank-you-pop">
                        <img src="image/successPay.jpg" alt="">
                        <h1>Thank You!</h1>
                        <p>Your submission is received and we will contact you soon</p>


                    </div>

                </div>

            </div>

            <%- include('../Includes/footer.ejs') %>